<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="${title}"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1 th:text="${title}"></h1>
    <div class="row col-md-7 table-responsive">
        <table id="customerTable" class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Exp</th>
                <th>Site</th>
                <th>Winner</th>
                <th>Record</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list, rowStat: ${battles}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                <td th:text="${list.id}">1</td>
                <td th:text="${list.name}"></td>
                <td th:text="${list.date}"></td>
                <td th:text="${list.record.rcdSite}"></td>
                <td th:text="${list.record.rcdWinner}"></td>
                <td th:text="${list.record.rcdRecord}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>